/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
/*HEADING*/
.header-container {
  height: 90px;
  background-color: #26d0c9;
  color: #fff;
}

.header-logo {
  padding: 20px 40px;
  float: left;
  font-size: 36px;
}

.header-list {
  
  
}

.header-list ul li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}
/*HEADING*/
/*BAGIAN MAIN*/
  /*BAGIAN MAIN [COPY-CONTAINER]*/
  .container {
    
  }
  
  .copy-containers {
    padding: 100px 80px 0px 80px;
  }
  
  h1 {
    font-size: 140px;
  }
  
  h2 {
    font-size: 60px;
  }
  
  h1 span {
    color: #ff4a4a;
  }
  /*BAGIAN MAIN [COPY-CONTAINER]*/
  /*BAGIAN MAIN [CONTENTS]*/
  .contents {
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
    
    .content-title h3 {
      margin-left: 80px;
      margin-right: 80px;
      padding: 0px 0px 15px 0px;
      font-size: 28px;
      border-bottom: 2px solid #dee7ec;
    }
    
    .content-pelajaran {
      float: left;
    }
    
    .parent-pelajaran {
      padding: 0px 80px 100px 80px;
    }
    
    .pelajaran {
      padding: 50px 40px 30px 0px;
    }
    
    .paragraf {
      font-size: 24px;
    }
    
  /*BAGIAN MAIN [CONTENTS]*/
  /*BAGIAN MAIN [CONTACT-FORM]*/
  .contact-form {
    margin: 0px 80px 110px 80px;
  }
  .contact-form-title h3 {
    font-size: 28px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dee7ec;
  }
  
  .contact-form-p1 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .kotak-form-email {
    width: 400px;
    border: 1px solid #dee7ec;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .kotak-form-email input {
    width: 400px;
    padding: 20px;
    border: none;
  }
  
  .contact-form-p2 {
    margin-bottom: 10px;
  }
  
  .kotak-form-pesan {
    width: 400px;
    border: 1px solid #dee7ec;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .kotak-form-pesan textarea {
    width: 400px;
    padding: 20px;
    border: none;
  }
  
  .contact-form-p3 {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .kotak-form-kirim {
    margin-bottom: 30px;
  }
  
  .kotak-form-kirim input {
    border: none;
    width: 400px;
    background: #dee7ec;
    color: #889eab;
    font-size: 18px;
    padding: 20px;
  }
  /*BAGIAN MAIN [CONTACT-FORM]*/
  /*BAGIAN FOOTER*/
  .footer {
    margin: 40px 0px 0px 0px;

  }
  
  .footer-container {
    height: 120px;
    padding: 40px;
    background-color: #2f5167;
    color: #fff;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list ul li {
    padding-bottom: 20px;
  }
  
  
  /*BAGIAN FOOTER*/
/*BAGIAN MAIN*/