/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda dibawah */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  }



.logo {
  width: 124px;
  margin-top: 20px;
}

.login {
  color: white;
  background-color: rgba(255,255,255,0.3);
  padding: 0 25px;
  line-height: 65px;
  display: block;
  transition: all 0.5s;
}

.login:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-kiri {
  float: left;
}

.header-kanan {
  float: right;
}




.judul {
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  padding: 180px 0px 100px 0px;
  color: white;
  text-align: center;
}

.kotak-judul,
.kotak-header,
.kotak-konten,
.kotak-pesan,
.kotak-footer{
  width: 1170px;
  margin: 0 auto;
}

.teks {
  opacity: 0.7;
}
.teks h1 {
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-size: 45px;
}

.teks p {
  margin-bottom: 3px;
  
}

.kotak-tombol {
  margin: 20px 0px;
}

.tombol {
  display: inline-block;
  padding: 12px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
}

.tombol:hover {
  opacity: 1;
}

.email {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.kotak-tombol .teks {
  margin: 10px 0px;
}

.kotak-tombol span {
  margin-right: 5px;
}




.konten {
  background-color: #f7f7f7;
  height: 500px;
  text-align: center;
  padding-bottom: 80px;
}

.judul-konten {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.judul-konten h2 {
  font-weight: normal;
}

.pelajaran {
  float: left;
  width: 25%;
  
}

.gambar-pelajaran {
  position: relative;
  padding-bottom: 30px;
}

.gambar-pelajaran p {
  position: absolute;
  width: 100%;
  top: 90px;
  color: white;
}

.penjelasan-pelajaran {
  width: 80%;
  font-size: 15px;
  display: inline-block;
  color: #b3aeb5;
}




.kotak-pesan {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  
}

.judul-pesan {
    color: #5f5d60;
}

.judul-pesan h2,h3 {
  font-weight: normal;
}

.mulai {
  background-color: #5dca88;
  display: inline-block;
  box-shadow: 0 7px #1a7940;
  padding: 15px 40px;
}

.mulai:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.pesan a {
  margin-top: 30px;
}

footer {
  border-top: 1px solid #eee;
}



.kotak-footer {
  
  padding-top: 30px;
}

.kotak-footer img {
  
}

.kotak-footer p {
  color: #b3aeb5;
}





